NODE_ENV=development

# Port config
RESUME_ENGINE_PORT=3000
NOTIFICATION_SERVICE_PORT=3001

# JWT config
JWT_ACCESS_SECRET=change-me-access-secret
JWT_REFRESH_SECRET=change-me-refresh-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Postgres config
DATABASE_HOST=localhost
DATABASE_PORT=8081
DATABASE_USER=postgres
DATABASE_PASSWORD=change-me
INIT_DB=resume_engine_db

# Redis config
REDIS_HOST=localhost
REDIS_PORT=8082

# RabbitMq config
MQ_PORT=5672
MQ_AMQP_PORT=15672
MQ_DEFAULT_USER=admin
MQ_DEFAULT_PASS=root@123
MQ_URI=amqp://admin:root%40123@localhost:5672

# MinIo config
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_UI_PORT=9001
MINIO_USER=admin
MINIO_PASS=root@123
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=root@123